*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root{
    --primary:#FDE047;
    --dark:#0F172A;
    --green: #065F46;
}

body{
    font-family: 'Amatic SC', cursive;
    color: #065F46;
   
}

.navbar{
    width: 100%;
    padding-top: 1rem;
    margin: auto;
    padding: auto;
    height: 80px;
    text-align: center;
    background-color:yellow;
    font-size: 2rem;
    font-weight: bolder;
}

.foot{
  width: 100%;
  background-color: yellow;
  text-align: center;
  position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    font-size: large;
    
}

.container-center{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: auto;
    margin: auto;
    display: block;
    max-width: 700px;
}

#btn-translate{
    background-color: yellow;
    color: #065F46;
    border-radius: 0.2rem;
    padding: 0.8rem;
    font-size: large;
    font-weight: bold;
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    transition: 0.5s;
}

#btn-translate:hover{
    font-size: larger;
}

.output{
    padding-bottom: 0.5rem;
    color: #065F46;
}

#text-input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 5vh;
    margin-top: 2rem;
    font-family: 'Amatic SC', cursive;
    font-size: large;
    border-color: var(--green);
    border-radius: 0.2rem;
    border: 2px solid;
    cursor: pointer;
    color: #065F46;
    
}

#text-output{
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 2px solid ;
    border-color: #065F46;;
    border-radius: 0.2rem;
    font-size: large;
}
    
